<html>

<title>Global Instructions</title>

<body>
	<h1 style="margin-top:100px; margin-left:100px">Instructions</h1>
	<p style="margin-top:100px; margin-left:100px; margin-right:100px; font-size:30px;">
		You will be shown either an M or a Z, made of different characters. You are supposed to press M when the letter is M, and Z if it's made of Z.
	</p>
	
	<br><br>
	<center>
		<form method = "POST" action = {{ url_for('trialGlobal') }}>
			<input style = "font-size:20px" type = "submit" value = "Run Experiment">
		</form>
	</center>
	
	</body>

</html>